<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chroma.app.nie360">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon"
        >
        <activity
            android:name=".Activities.AdminPenal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".Activities.ReadyScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PendingVideos"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".Activities.SendingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activities.PerviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".Activities.CaptureVideoScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdcf3277d6914f2aaa29a85aaf6177ffb2bcb7ee" />

        <activity android:name=".Activities.MediaPlayerDemo_Video"></activity>

        <service android:name=".Utils.UploaderService" />
        <service android:name=".Utils.ProcessingService" />

        <activity android:name=".Activities.ProcessingActivity"></activity>
    </application>

</manifest>